:host {
  display: inline;
}

.code-node {
  cursor: pointer;
  font-family: Menlo, Monaco, "Courier New", monospace;
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    display: inline-block;
    line-height: 1.58em;
  }
  &--leaf {
    height: inherit;
    margin-right: -8.5px;
  } 
  &.code-node--leaf:hover {
    code {
      background: rgba(230, 49, 49, 0.44);
    }
  }
}
