:host {
  display: inline;
}

.code-node {
  cursor: pointer;
  // border: 1px solid transparent;
  &.code-node--leaf:hover {
    background: rgba(230, 49, 49, 0.44);
    // border: 1px solid red;
  }
}
