
<div class="row">
  <div class="col-xs-6">
      <ngx-monaco-editor [options]="editorOptions"
                        (ngModelChange)="initTree($event)"
                        (onInit)="onEditorInit($event)"
                        [(ngModel)]="code"></ngx-monaco-editor>
      
      <div class="interactive-wrapper">
        <div class="code-numbers">
          <span class="code-number" *ngFor="let num of cachedLinesLength; index as index">
            {{index + 1}}
          </span>
        </div>
        <code-node [node]="rootNode"></code-node>
      </div>                  
  </div>
  <div class="col-xs-5 tree-wrapper" #treeWrapper>
    <tree [tree]="nodes"
          #tree
          (nodeSelected)="logEvent($event)"
          (nodeHovered)="logEvent($event)"></tree>
  </div>
  <div class="col-xs-1">
    
    <label>
      <input type="checkbox" [(ngModel)]="extended"
          (change)="onExtendedChange($event)"> Extended
    </label>
  </div>
</div>
<!-- <tree-root [nodes]="nodes" #tree></tree-root> -->
