
<div class="row m-0">
  <div class="col-xs-4 p-0">
    <div class="editors">
      <div class="editors__toolbar">
        <span class="editors__lbl editors__lbl--editor"
              *ngIf="monacoActive">Editor View</span>
        <span class="editors__lbl editors__lbl--inspector"
              *ngIf="!monacoActive">Inspector View</span>
        <button (click)="monacoActive = !monacoActive"
                class="editors__switcher">
          <ng-container *ngIf="monacoActive">Switch to Inspector View</ng-container>
          <ng-container *ngIf="!monacoActive">Switch to Editor View</ng-container>
        </button>
      </div>
      <ngx-monaco-editor [options]="editorOptions"
                          *ngIf="monacoActive"
                          class="editors__monaco"
                        (ngModelChange)="initTree($event)"
                        (onInit)="onEditorInit($event)"
                        [(ngModel)]="code"></ngx-monaco-editor>
      
      <div class="interactive-wrapper editors__fake"
           *ngIf="!monacoActive">
        <div class="code-numbers">
          <span class="code-number" *ngFor="let num of cachedLinesLength; index as index">
            {{index + 1}}
          </span>
        </div>
        <code-node [node]="rootNode"></code-node>
      </div>    
    </div>              
  </div>
  <div class="col-xs-5 p-0">
    <div class="tree__toolbar">
      <span class="tree__lbl">Abstract Syntax Tree (AST)</span>
      <label class="tree__checkbox-lbl">
        Extended
        <input type="checkbox"
              class="tree__checkbox-ctrl"
              [(ngModel)]="extended" 
              (change)="onExtendedChange($event)"> 
        <span class="tree__checkbox-fake"></span>
      </label>
    </div>

    <div class="tree-wrapper p-0 monaco-scroll" #treeWrapper>
      <tree [tree]="nodes"
            #tree
            (nodeSelected)="onNodeClick($event)"
            (nodeHovered)="logEvent($event)"></tree>
    </div>
  </div>
  <div class="col-xs-3 p-0">
    <div class="tree__toolbar">
      <span class="tree__lbl">Property Inspector</span>
    </div>

    <div class="tree-wrapper p-0 monaco-scroll" #treeWrapper>
      <tree [tree]="propsTree"
        *ngIf="propsTree else placeholder"
        class="prop-tree">
        <ng-template let-node>
          <span class="prop-key">{{node.data?.key}}:</span>
          <span class="prop-value" [ngClass]="'prop-value--' + node.data?.type">
            {{node.data?.propValue}}</span>
          <span *ngIf="node.data?.kind" class="prop-kind" [ngClass]="'prop-kind--' + node.data?.type">
            <ng-container *ngIf="node.data?.propValue">-</ng-container> {{node.data?.kind}}</span>
        </ng-template>
      </tree>
    </div>

    <ng-template #placeholder>
      <p class="placeholder">
        Click on any node in the "Abstract Syntax Tree (AST)" panel to view its properties.
      </p>
    </ng-template>
  </div>
</div>

<ng-template #propNode let-node>

</ng-template>
