<div class="header">
  <h1 class="header__title">Interactive TypeScript AST Analyzer</h1>
  <a href="https://www.github.com/" target="_blank" class="header__github">GitHub</a>
</div>
<div class="row m-0 main-wrapper">
  <div class="mobile-menu">
    <button class="mobile-btn"
            [class.mobile-btn--active]="activePanel === 'editor'"
            (click)="activePanel = 'editor'">
            Editor View
    </button>
    <button class="mobile-btn"
            [class.mobile-btn--active]="activePanel === 'nodes'"
            (click)="activePanel = 'nodes'">
            AST View
    </button>
    <button class="mobile-btn"
            [class.mobile-btn--active]="activePanel === 'props'"
            (click)="activePanel = 'props'">
            Property Inspector
    </button>
  </div>
  <div class="col-sm-4 col-xs-12 p-0 panel" [class.panel--active]="activePanel === 'editor'">
    <app-editor-view  (codeUpdate)="onCodeUpdate($event)"
                      [initialCode]="initialCode"
                      [codeSelection]="codeSelection">
    </app-editor-view>            
  </div>
  <div class="col-sm-4 col-xs-12 p-0 panel" [class.panel--active]="activePanel === 'nodes'">
    <div class="tree__toolbar panel__toolbar">
      <span class="tree__lbl">Abstract Syntax Tree (AST)</span>
      <label class="tree__checkbox-lbl">
        Extended
        <input type="checkbox"
              class="tree__checkbox-ctrl"
              [(ngModel)]="extended" 
              (change)="onExtendedChange($event)"> 
        <span class="tree__checkbox-fake"></span>
      </label>
    </div>

    <div class="tree-wrapper p-0 monaco-scroll" #treeWrapper>
      <tree [tree]="nodes"
            #tree
            (nodeSelected)="onNodeClick($event)"
            (nodeHovered)="logEvent($event)"></tree>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 p-0 panel" [class.panel--active]="activePanel === 'props'">
    <div class="tree__toolbar panel__toolbar">
      <span class="tree__lbl">Property Inspector</span>
    </div>

    <div class="tree-wrapper p-0 monaco-scroll" #treeWrapper>
      <tree [tree]="propsTree"
        *ngIf="propsTree else placeholder"
        class="prop-tree">
        <ng-template let-node>
          <span class="prop-key">{{node.data?.key}}:</span>
          <span class="prop-value" [ngClass]="'prop-value--' + node.data?.type">
            {{node.data?.propValue}}</span>
          <span *ngIf="node.data?.kind" class="prop-kind" [ngClass]="'prop-kind--' + node.data?.type">
            <ng-container *ngIf="node.data?.propValue">-</ng-container> {{node.data?.kind}}</span>
        </ng-template>
      </tree>
    </div>

    <ng-template #placeholder>
      <p class="placeholder">
        Click on any node in the "Abstract Syntax Tree (AST)" panel to view its properties.
      </p>
    </ng-template>
  </div>
</div>

<ng-template #propNode let-node>

</ng-template>
