:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  ::ng-deep {
    .editors .editor-container {
      height: 100%;
    }
  }
}

.editor {
  display: block;
  width: 100%;
}

::ng-deep {
  .tree-wrapper {
    height: 100vh;
    overflow: auto;
    background: #1e1e1e;
    border-left: 1px solid #404040;
    flex: 1;
    padding-bottom: 10px;
  }

  .tree {
    &__toolbar {
      background: #1e1e1e;
      border-bottom: 1px solid #404040;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;
      flex-shrink: 0;
      padding: 0 7px 0 10px;
      border-left: 1px solid #404040;
    }
    &__lbl {
      color: #47ecdd;
      font-size: 11px;
      position: relative;
      top: 1px;
    }
    &__checkbox-ctrl {
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    &__checkbox-fake {
      display: inline-block;
      width: 9px;
      height: 9px;
      border: 1px solid #cbcbcb;
      border-radius: 1px;
      position: relative;
      top: 1px;
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        height: 5px;
        width: 5px;
        background: transparent;
      }
    }

    &__checkbox-ctrl:checked ~ span:after {
      background: #cbcbcb;
    }

    &__checkbox-lbl {
      font-family: Menlo, Monaco, "Courier New", monospace;
      color:#cbcbcb;
      font-size: 11px;
      position: relative;
      cursor: pointer;
    }
  }
}

.header {
  flex-basis: 26px;
  flex-shrink: 0;
  background: #1e1e1e;
  border-bottom: 1px solid #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  &, &__title {
    font-size: 12px;
    margin: 0;
  }
  &, &__github {
    color: #cbcbcb;
    text-decoration: none;
    font-size: 12px;
  }
  &__github {
    background: #2f2f2f;
    padding: 0 10px 0 10px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      color: #cbcbcb;
      background: #292929;
    }
  }
}

.editor-wrapper {
  position: relative;
}

.mobile-menu {
  display: none;
  border-bottom: 1px solid #404040;
  background: #1e1e1e;
  justify-content: space-between;
}

.mobile-btn {
  background: none;
  padding: 0 10px;
  margin: 0;
  font-size: 10px;
  color: #47ecdd;
  opacity: 0.5;
  border: none;
  border-right: 1px solid #404040;
  height: 28px;
  white-space: nowrap;
  flex: 1;
  border-bottom: 1px solid transparent;
  &--active {
    opacity: 1;
    border-bottom: 1px solid #47ecdd;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .panel {
    display: none;
    &--active {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    &__toolbar {
      display: none;
    }
  }

  .main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu {
    display: flex;
  }
  .header {
    flex-basis: 29px;
    &__title {
      font-size: 11px;
    }
  }
}
  