.editor {
  display: block;
  width: 100%;
  font-family: "Lucida Console", Monaco, monospace;
}

.tree-wrapper {
  height: 100vh;
  overflow-y: auto;
}

.interactive-wrapper {
  background: #1e1e1e;
  padding-left: 45px;
  position: relative;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.code-numbers {
  position: absolute;
  top: 2px;
  left: 0;
  border-right: 1px solid #404040;
  padding-right: 9px;
}

.code-number {
  display: block;
  color: #5a5a5a;
  font-family: Menlo, Monaco, "Courier New", monospace;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  width: 36px;
  line-height: 19px;
}
