:host {
  display: flex;
  flex-direction: column;
  ::ng-deep {
    .editors .editor-container {
      height: 100%;
    }
  }
}

.editor {
  display: block;
  width: 100%;
}

.tree-wrapper {
  height: 100vh;
  overflow: auto;
  background: #1e1e1e;
  border-left: 1px solid #404040;
  flex: 1;
  padding-bottom: 10px;
}

.prop-key {
  color:#d4d4d4;
}

.prop-value {
  &--number {
    color: #b5cea8;
  }
  &--string {
    color: #ce9178; 
  }
}

.prop-kind {
  color:#d4d4d4;
  opacity: 0.5;
  &--array {
    color: #569cd6;
    opacity: 1;
  }
}

.tree {
  &__toolbar {
    background: #1e1e1e;
    border-bottom: 1px solid #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    flex-shrink: 0;
    padding: 0 10px;
  }
  &__lbl {
    color: #47ecdd;
    font-size: 11px;
    position: relative;
    top: 1px;
  }
  &__checkbox-ctrl {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  &__checkbox-fake {
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid #cbcbcb;
    border-radius: 1px;
    position: relative;
    top: 1px;
    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      height: 5px;
      width: 5px;
      background: transparent;
    }
  }

  &__checkbox-ctrl:checked ~ span:after {
    background: #cbcbcb;
  }

  &__checkbox-lbl {
    font-family: Menlo, Monaco, "Courier New", monospace;
    color:#cbcbcb;
    font-size: 11px;
    position: relative;
  }
}

.interactive-wrapper {
  background: #1e1e1e;
  padding-left: 46px;
  position: relative;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.code-numbers {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #404040;
  padding-right: 9px;
}

.code-number {
  display: block;
  color: #5a5a5a;
  font-family: Menlo, Monaco, "Courier New", monospace;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  width: 36px;
  line-height: 17px;
  margin-top: 0.8px;
  margin-bottom: 0.7px;
}

.editors {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__monaco, &__fake {
    flex: 1;
  }
  &__toolbar {
    background: #1e1e1e;
    border-bottom: 1px solid #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25px;
    flex-shrink: 0;
    padding-left: 10px;
    padding-right: 0;
  }

  &__switcher {
    cursor: pointer;
    background: none;
    color: #cbcbcb;
    border: none;
    height: 100%;
    padding: 1px 10px 0 10px;
    margin: 0;
    background: #2f2f2f;
    &:hover {
      background: #292929;
    }
  }

  &__lbl {
    font-size: 11px;
    position: relative;
    top: 1px;
    &--editor {
      color: #47ecdd;
    }
    &--inspector {
      color: #c26bd8;
    }
  }
}

.editor-wrapper {
  position: relative;
}
