/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';

$font-family: Menlo, Monaco, "Courier New", monospace;

body, html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background: #1e1e1e;
}

input[type=text], button, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

button {
  cursor: pointer;
}

* {
  outline: none;
}

body {

  .editors__monaco {
    height: inherit;
  }

  tree {
    display: block;
    padding-bottom: 48px;

  }

  tree-internal ul {
    padding: 3px 0 3px 15px;
  }
  tree-internal .tree .node-value {
    color: #d4d4d4;
    cursor: pointer;
    padding: 2px;
    border-radius: 1px;
    &:after {
      display: none;
    }
    &:hover {
      background: #762928;
    }
  }
  tree-internal .tree {
    font-family: $font-family;
    font-size: 12px;
  }
  tree-internal .tree .node-selected:after {
    display: none;
  }
  tree-internal .tree .node-selected {
    background: #762928;
  }
  tree-internal .tree .folding {
    width: 14px;
    opacity: 0.4;
  }
  tree-internal .tree li div {
    cursor: pointer;
    white-space: nowrap;
    &.selected .fa {
      color: #aa2724;
    }
  }

  .prop-tree {
    tree-internal .tree .node-value {
      cursor: default;
      &:hover {
        background: #2d2d2d;
      }
    }
    tree-internal .tree .node-selected {
      background: #2d2d2d;
    }
    tree-internal .tree li div {
      &.selected .fa {
        color: #cbcbcb;
      }
    }
  }
}



.monaco-highlight {
  background: rgba(230, 49, 49, 0.44);
  border-radius: 2px;
}

pre {
  display: inline;
}

.f-1 {
  flex: 1;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.monaco-scroll::-webkit-scrollbar {
  width: 14px;
  height: 5px;
  background-color: #f5f5f5;
}

.monaco-scroll::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.25);
}

.monaco-scroll::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #1e1e1e;
  border-left: 1px solid #404040;
}

.fa-white {
  color: #d4d4d4;
  &.fa-circle {
    font-size: 5px;
    position: relative;
    top: -2px;
    right: 0;
  }
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    tree-internal .tree {
      font-size: 11px;
    }

    .panel .panel__toolbar {
      display: none;
    }
  }
}
